<div class="wrapper">

  <div class="content">

    <header>
      <p>
        <a routerLink="/home">
          Weather Getter
          <span>Angular 2 application</span>
        </a>
      </p>
      <nav>
        <ul>
          <li>
            <a routerLink="/home" routerLinkActive="active-link">Home</a>
          </li>
          <li>
            <a routerLink="/detail" routerLinkActive="active-link">Detail</a>
          </li>
          <li>
            <a routerLink="/developer" routerLinkActive="active-link">Developer</a>
          </li>
          <li>
            <a routerLink="/about" routerLinkActive="active-link">About</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <router-outlet></router-outlet>
    </main>

  </div>

  <footer>
      <p><span>Povered by </span><a href="https://darksky.net/dev" target="blank">DarkSkyAPI</a></p>
  </footer>

</div>
