<div class="container">
  <h1>Dark Sky</h1>
  <p>The Dark Sky Company specializes in weather forecasting
    and visualization. Back in 2011, we had the crazy idea
    that robots could predict the weather with
    down-to-the-minute precision, and thanks to a <a href="https://www.kickstarter.com/projects/jackadam/dark-sky-hyperlocal-weather-prediction-and-visuali">handful of
    generous strangers</a>, we were able to give it a shot.
    Since then, those robots have become "<a href="https://www.theverge.com/2014/1/27/5350316/dark-sky-new-design-extended-forecasts">scarily accurate</a>,"
    powering our own <a href="https://twitter.com/AppStore/status/676566282813095936">award-winning</a> weather app,
    <a href="https://darksky.net/app">Dark Sky</a>, in
    addition to <a href="https://darksky.net/dev">thousands of other businesses, apps, and
    crazy ideas</a>.</p>

  <p>For a software startup, we’re a bit unusual: we’re
    self-funded, have been profitable from the start,
    and funnel a lot of our efforts into researching new
    ways to do what we do. Although we’re no longer a two-man
    ation—having <a href="https://blog.darksky.net/dark-sky-has-a-new-owner/">partnered with a company called Applied
    Invention</a> and <a href="https://darksky.net/jobs">grown our team </a> — our focus has always been
    on sustainability over growth, and we plan to keep it
    that way.</p>

  <p>If you have any questions about us, our app, or about the
    weather in general, please feel free to drop us a line:
    we’d love to hear from you.</p>
</div>
