h1 {
  text-align: center;
  margin: 50px 0;
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #383838;
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  margin: 20px 50px;
  color: #383838;
}

p a {
  color: #acacac;
  font-style: italic;
  cursor: pointer;
}

p a:hover {
  text-decoration: underline;
  color: #383838;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
