<div class="week-container">

  <div class="days-container">
    <article *ngFor="let day of city.daily.data" class="day" (click)="select(day)" [ngClass]="{'active' : activeDay == day }">
      <p>{{day.time}}</p>
      <img src="./assets/weather-icons/white/{{day.icon}}.png" alt="day weather icon">
      <p><span>{{day.temperatureMin}}</span> / {{day.temperatureMax}}</p>
    </article>
  </div>

  <div class="detail-container" *ngIf="activeDay">
    <p class="summary">{{activeDay.summary}}</p>
    <div class="detail">
      <div class="info">
        <p>Day overwiew:</p>
        <p> <img src="./assets/weather-icons/pressure.png"> Pressure: <span class="bold">{{activeDay.pressure}}</span> mb</p>
        <p> <img src="./assets/weather-icons/cloud-cover.png"> Cloud cover: <span class="bold">{{activeDay.cloudCover}}</span> %</p>
        <p> <img src="./assets/weather-icons/thermometer.png"> DewPoint: <span class="bold">{{activeDay.dewPoint}}</span> °C</p>
        <p> <img src="./assets/weather-icons/humidity.png"> Humidity: <span class="bold">{{activeDay.humidity}}</span> %</p>
        <p> <img src="./assets/weather-icons/wind-speed.png"> Wind: <span class="bold">{{activeDay.windSpeed}}</span> km/h</p>
      </div>
      <div class="sun">
        <p>Sunrise: </p>
        <figure>
          <img src="./assets/weather-icons/sunrise.png">
          <figcaption>{{activeDay.sunriseTime}}</figcaption>
        </figure>
        <p>Sunset: </p>
        <figure>
          <img src="./assets/weather-icons/sunset.png">
          <figcaption>{{activeDay.sunsetTime}}</figcaption>
        </figure>
      </div>
      <div class="temperature">
        <p>Temperature high: </p>
        <figure>
          <img src="./assets/weather-icons/temperatureHigh.png">
          <figcaption>{{activeDay.temperatureMax}} °C</figcaption>
        </figure>
        <p>Temperature low: </p>
        <figure>
          <img src="./assets/weather-icons/temperatureLow.png">
          <figcaption>{{activeDay.temperatureMin}} °C</figcaption>
        </figure>
      </div>
    </div>
  </div>

</div>
