<div class="city-container">

  <div id="floatingCirclesG" *ngIf="isEmpty" class="animation">
    <div class="f_circleG" id="frotateG_01"></div>
    <div class="f_circleG" id="frotateG_02"></div>
    <div class="f_circleG" id="frotateG_03"></div>
    <div class="f_circleG" id="frotateG_04"></div>
    <div class="f_circleG" id="frotateG_05"></div>
    <div class="f_circleG" id="frotateG_06"></div>
    <div class="f_circleG" id="frotateG_07"></div>
    <div class="f_circleG" id="frotateG_08"></div>
  </div>

  <div class="city" *ngIf="!isEmpty">
    <p class="timezone">{{city.timezone}}</p>
    <div class="current-information">
      <div>
        <p class="summary">{{city.currently.summary}}</p>
        <img src="./assets/weather-icons/dark/{{city.currently.icon}}.png" alt="current weather icon">
        <div class="temperature">
          <p class="current bold">{{city.currently.temperature}}°C</p>
          <p>feels like: <span class="apparent bold">{{city.currently.apparentTemperature}}°C</span></p>
        </div>
      </div>
      <div class="additional">
        <p>- Wind <span class="bold">{{city.currently.windSpeed}}</span> km/h -</p>
        <p *ngIf="city.currently.visibility">- Visibility <span class="bold">{{city.currently.visibility}}</span> km -</p>
        <p>- Humidity <span class="bold">{{city.currently.humidity}}</span>% -</p>
        <p>- Dew point <span class="bold">{{city.currently.dewPoint}}</span>°C -</p>
        <p>- Barometer <span class="bold">{{city.currently.pressure}}</span> mb -</p>
      </div>
    </div>
  </div>
</div>
