img {
  display: block;
  width: 300px;
  height: 300px;
  border: 2px solid #383838;
  border-radius: 50%;
  margin: 50px auto;
}

p {
  font-family: 'Ubuntu', sans-serif;
}

.fio {
  text-align: center;
  font-size: 30px;
  color: #383838;
}

.fio span {
  font-size: 35px;
}

.position {
  text-align: center;
  margin: 10px 0;
}

ul {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin: 0 auto;
  cursor: pointer;
}

ul li a {
  color: #383838;
}

ul li a:hover {
  color: #c7c7c7;
}
