<div class="center">

  <article class="tabs-container">
    <button *ngFor="let item of items" [ngClass]="{'active': targetCity.city === item.city}" (click)="changeCity(item.city)">{{item.city}}</button>
  </article>

  <section class="city-container">
    <div *ngIf="city">
      <p class="title">Now:</p>
      <p class="subtitle">{{city.currently.summary}}</p>
      <article class="current-container">
        <p>Wind: {{city.currently.windSpeed}} km/h</p>
        <p>Humidity: {{city.currently.humidity}} %</p>
        <p>Dew point: {{city.currently.dewPoint}} °C</p>
        <p>Barometer: {{city.currently.pressure}} mb</p>
      </article>
      <p class="title">Per day:</p>
      <p class="subtitle">{{city.hourly.summary}}</p>
      <chartHTML [labels]="city.labels" [dataset]="city.dataset" [icons]="city.icons"></chartHTML>
      <p class="title">Per week:</p>
      <p class="subtitle">{{city.daily.summary}}</p>
      <week [city]="city"></week>
      <article class="time-container">
        <p>{{city.time.day}}</p>
        <p>{{city.time.time}}</p>
        <p>{{city.time.gmt}}</p>
      </article>
    </div>
  </section>

</div>
