.tabs-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tabs-container button {
  width: 24%;
  border:none;
  background-color:#e2e2e2;
  font-size: 20px;
  padding: 20px 0;
  color: #383838;
  font-family: 'Ubuntu' ;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}

.tabs-container button:not(.active):hover {
  background-color: #c7c7c7;
}

.tabs-container button.active {
  background-color: #fff;
  font-weight: bold;
}

.city-container {
  background-color: #fff;
  color: #383838;
  padding: 20px;
  position: relative;
  font-family: 'Ubuntu';
  border-radius: 0 0 5px 5px;
}

.title, .subtitle {
  letter-spacing: 2px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
}

.subtitle {
  font-size: 18px;
  margin-left: 20px;
  line-height: 24px;
}

.current-container {
  margin-left: 40px;
  margin-top: 20px;
}

.current-container p {
  background-color: #e2e2e2;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 5px;
}

.time-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.time-container p {
  text-align: right;
  color: #383838;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 24px;
}
