body {
  background-color: #ebebf0;
}

.center {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  padding: 20px;
  background-color: #464547;
}

header p {
  color: #fff;
  font-size: 24px;
  font-family: 'Anton', serif;
}

.content {
  margin-top: 20px;
  display: flex;
}

aside, main {
  background-color: #fff;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  border-collapse: collapse;
}

aside {
  flex-grow: 1;
  margin-right: 20px;
  height: max-content;
  position: sticky;
  top: 0;
}

aside article.user-container {
  padding: 20px;
}

aside article.user-container figure{
  width: 100%;
}

aside article.user-container figure img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

aside figcaption{
  text-align: center;
  margin: 10px 0;
  color: #39C2D7;
  font-family: 'Archivo', serif;
  font-size: 18px;
}

aside figcaption span{
  display: block;
  font-size: 14px;
  color: #A3C644;
}

aside article.contacts-container {
  border-top: 1px solid #ccc;
  padding: 20px 0;
}

aside article.contacts-container p {
  padding: 0 20px;
  margin-bottom: 10px;
  font-family: 'PatuaOne', serif;
}

aside article.contacts-container ul {
  font-family: 'Bree', serif;
}

aside article.contacts-container ul li {
  padding: 10px 0 10px 40px;
  cursor: pointer;
}

aside article.contacts-container ul li a {
  display: block;
  height: 100%;
  width: 100%;
  color: #000;
}

aside article.contacts-container ul li i {
  margin-right: 10px;
}

aside article.contacts-container ul li:hover {
  background-color: #A3C644;
}

main {
  flex-grow: 15;
  padding: 20px;
  font-family: 'Bree', serif;
}

main section {
  padding: 20px 20px 0 20px;
  border: 2px solid #ebebf0;
  margin: 20px;
  margin-bottom: 40px;
  position: relative;
}

main section:last-child {
  margin-bottom: 20px;
}

main section p.section-header {
  padding: 10px;
  background-color: #fff;
  border: 2px solid #ebebf0;
  font-family: 'PatuaOne', serif;
  color: #39C2D7;
  position: absolute;
  top: 0;
  transform: translate(0, -50%);
}

main a {
  display: block;
  padding: 20px;
  background-color: #ebebf0;
  color: #000;
  margin: 20px 0;
}

main a:hover {
  background-color: #A3C644;
}

@media (max-width: 761px) {
  .content {
    flex-direction: column;
  }

  aside {
    margin: 0;
    flex-grow: 0;
    position: static;
  }

  main {
    flex-grow: 0;
    margin-top: 20px;
  }
}
